* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /*   border: solid 2px red; */
}
html,
body {
  background: linear-gradient(#f2b1b1, #3fc4a9, #fce9b8);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14px;
  font-family: 微軟正黑體;
  font-weight: 700;
}
a {
  color: initial;
  text-decoration: initial;
}
.box {
  width: 380px;
  background-color: #fff;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.box:hover {
  box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.4);
  transform: translate(-5px, -5px);
}
.box:hover .top {
  height: 250px;
}
.top {
  background-image: url(https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/71186741_2665213110165878_3523106847651266560_o.jpg?_nc_cat=104&_nc_sid=07e735&_nc_ohc=nw7b5J8C74cAX8Q2iuQ&_nc_ht=scontent-tpe1-1.xx&oh=dc84a068d257eaf7410fe20c55965e47&oe=5F00E012);
  background-position: center;
  background-size: cover;
  height: 330px;
  position: relative;
  transition: 0.5s;
}
.top .tag {
  width: 25px;
  height: 50px;
  background-color: #5bffe1;
  float: right;
  margin-right: 20px;
}
.top .name {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 5px 15px;
  letter-spacing: 2px;
  color: white;
  font-size: 24px;
  font-weight: 300;
  background: linear-gradient(transparent 0%, black 100%);
  width: 100%;
  padding-top: 30px;
  padding-bottom: 15px;
}
.top .name .smallText {
  font-size: 14px;
}
.cirbutton {
  width: 50px;
  height: 50px;
  background-color: #5fffff;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  bottom: -20px;
}
.bottom {
  padding: 10px 20px 20px 20px;
}
.bottom li {
  padding: 5px 0px;
}
.bottom h3 {
  display: inline-block;
}
.bottom ul {
  list-style: none;
  padding-left: 0;
}
.buttons {
  margin-top: 30px;
}
.buttons .btn {
  display: inline-block;
  padding: 10px 25px;
  letter-spacing: 2px;
}
.btnWebsite {
  background-color: #5bffe1;
  color: white;
  transition: 0.5s;
}
.btnWebsite:hover {
  background-color: #2c9e92;
}
.btnNews {
  border: solid 1px black;
  float: right;
}
.btnNews:hover {
  background-color: #eee;
}